<p>
    <span style="font-size:24px;">Программа встречи</span>
</p>
<p>
    @Model.FirstStart – @Model.FirstEnd @Model.FirstSpeaker @Model.FirstTalkTitle
    <br/>
    @Model.FirstEnd – @Model.SecondStart Перерыв
    <br/>
    @Model.SecondStart – @Model.SecondEnd @Model.SecondSpeaker @Model.SecondTalkTitle
</p>
<p>
    <strong>Участие бесплатное, количество мест ограничено!</strong>
</p>
<p>Подписывайтесь на новости, задавайте вопросы, участвуйте в жизни сообщества!</p>