<p>
    <span style="font-size:24px;">Программа встречи</span>
</p>
<p>
    @for (var i = 0; i < Model.Agenda.Count; i++)
    {
        var item = Model.Agenda[i];
        <text>@item.StartTime – @item.EndTime @item.Speakers @item.TalkTitle <br/></text>
        
        if (i != Model.Agenda.Count - 1)
        {
            <text>@item.EndTime – @Model.Agenda[i + 1].StartTime Перерыв <br/></text>
        }
    }
</p>
<br/>
<p>После этих вдохновляющих речей приглашаем всех желающих в бар для обсуждения накопившихся вопросов и идей!</p>
<br/>
@foreach (var talk in Model.Talks)
{
    <h3 class="tsubheader">
        @talk.Speakers
        <br/>
        @talk.TalkTitle
    </h3>
    
    <p>
        @talk.TalkDescription
    </p>
    <br/><br/>   
    <p>
        <span style="font-size:24px;">Об авторе</span>
    </p>
    
    <p>
        @foreach (var speakerDescription in talk.SpeakersDescriptions)
        {
            <text>
                @speakerDescription<br/><br/>  
            </text>
        }
    </p>
    <br/>
}
<br/>
<p>
    <strong>Участие бесплатное, количество мест ограничено!</strong>
</p>
<br/>
<p>
    Дополнительную информацию о встречах <strong>SpbDotNet Community</strong> Вы можете найти в группах сообщества:
</p>
<p>
    VK: <a href="https://vk.com/spbdotnet">https://vk.com/SpbDotNet</a>
    <br/>
    Twitter: <a href="https://twitter.com/spbdotnet">https://twitter.com/SpbDotNet</a>
    <br/>
    Telegram: <a href="https://t.me/spbdotnet">https://t.me/SpbDotNet</a>
    <br/>
    Meetup.com: <a href="https://www.meetup.com/SpbDotNet/">https://www.meetup.com/SpbDotNet</a>
</p>
<br/>
<p>Подписывайтесь на новости, задавайте вопросы, участвуйте в жизни сообщества!</p>